.radar-chart-container {
    background-color: black;
    border-radius: 5px;
    width: 260px;
    height: 260px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.line-chart-container {
    background-color: #FF0101;
    border-radius: 5px;
    width: 260px;
    height: 260px; 
    color: #FFFFFF;
}
