.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

  &_charts {
    display: flex;
    flex-direction: column;

    &_line-radar-radial {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
    }
  }

  &_stat {
    display: flex;
    flex-direction: column;
  }
}

.bar-chart {
  background-color: #fbfbfb;
  border-radius: 5px;
  font-size: 15px;
  color: #20253a;
  padding: 10px 40px;
  margin-bottom: 40px;
  height: 320px;
}
.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;
  margin: 20px 0;

  &_title {
    margin: 0;
  }
}

.recharts-legend-item-text {
  color: #74798C !important;
  
}

.custom-tooltip {
  background: red;
  color: white;
  padding: 10px;
  font-size: 7px;
  text-align: center;
}

.tooltip-text {
  margin: 0;
  font-weight: bold;
}



.line-chart {
  background-color: #ff0101;
  border-radius: 5px;
  width: 260px;
  height: 260px;
  color: #ffffff;

  &_title {
    font-size: 15px;
    margin: 20px;
    opacity: 50%;
  }
}


.radar-chart {
  background-color: black;
  border-radius: 5px;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radial-bar-chart {
  background-color: #fbfbfb;
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 5px;


  &_title {
    font-size: 15px;
    color: #20253A;
    margin: 20px;
  }

  &_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.white-cecrle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.score-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.score-value {
  font-size: 26px;
  color: #282D30;
  margin: 0;
  font-weight: 700;
}

.score-label {
  font-size: 20px;
  color: #74798C;
  margin: 0;
  font-weight: 500;
}
