@import 'header';
@import 'sidebar';
@import 'dataDisplay';
@import 'charts';
@import 'customTooltip';
@import 'chartBar';
@import 'chartLine';
@import 'chartRadar';
@import 'chartRadial';

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

h3 {
  margin: 0;
}

body {
  margin: 0;
  height: 100%;

}

main {
  padding: 50px 0;
  margin: 40px 12vw;
}

.greeting {
  font-size: 48px;

  &_name {
    color: #ff0101;
  }
}

